In [7]:
#Dependencies
import pandas as pd
import os

# Store CSV into DataFrame

In [8]:
policies_path = os.path.join("Resources/police_deaths.csv")
police_df = pd.read_csv(policies_path)

In [9]:
#States Abbreviations source: https://www.ssa.gov/international/coc-docs/states.html
states_path = os.path.join("Resources/states_abbrev.csv")
states_df = pd.read_csv(states_path, encoding="ISO-8859-1")

In [10]:
police_df.head()

,person,dept,eow,cause
0,Constable Darius Quimby,"Albany County Constable's Office, NY","EOW: Monday, January 3, 1791",Cause of Death: Gunfire
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","EOW: Saturday, October 22, 1791",Cause of Death: Gunfire
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","EOW: Thursday, May 17, 1792",Cause of Death: Gunfire
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"EOW: Saturday, January 11, 1794",Cause of Death: Gunfire
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","EOW: Sunday, November 12, 1797",Cause of Death: Gunfire

In [11]:
states_df.head()

            state state_code
0         ALABAMA         AL
1          ALASKA         AK
2  AMERICAN SAMOA         AS
3         ARIZONA         AZ
4        ARKANSAS         AR

# Cleaning DF

In [22]:
#Extract state of dept & year of eow column 
police_df["state"] = police_df.dept.str.split(", ").str[-1]
police_df["year"] = police_df.eow.str.split(",").str[-1]

In [23]:
#Convert String of year column to Int
police_df["year"] = police_df["year"].astype(int)

In [24]:
#Filter years above 1999
police_df = police_df[police_df["year"]>=2000]

In [25]:
#Reset Index
police_df.reset_index(drop=True)

,person,dept,eow,cause,state,year
0,Deputy Sheriff Ernest Martin Hull,"Greene County Sheriff's Office, NC","EOW: Sunday, January 2, 2000",Cause of Death: Automobile accident,NC,2000
1,Patrol Officer James Clinton Bryant,"Broxton Police Department, GA","EOW: Monday, January 3, 2000",Cause of Death: Gunfire,GA,2000
2,"Staff Sergeant Clyde Almond ""Tub"" Merritt","Coffee County Sheriff's Office, GA","EOW: Monday, January 3, 2000",Cause of Death: Gunfire,GA,2000
3,Inspector Kirk B. Brookbush,"San Francisco Police Department, CA","EOW: Tuesday, January 11, 2000",Cause of Death: Aircraft accident,CA,2000
4,Police Officer James Francis Dougherty,"San Francisco Police Department, CA","EOW: Tuesday, January 11, 2000",Cause of Death: Aircraft accident,CA,2000
...,...,...,...,...,...,...
2852,K9 Bruno,"Amarillo Police Department, TX","EOW: Sunday, June 12, 2016",Cause of Death: Accidental,TX,2016
2853,K9 Lazer,United States Department of Homeland Security ...,"EOW: Monday, June 20, 2016",Cause of Death: Heat exhaustion,US,2016
2854,K9 Tyson,"Fountain County Sheriff's Office, IN","EOW: Monday, June 27, 2016",Cause of Death: Heat exhaustion,IN,2016
2855,K9 Credo,"Long Beach Police Department, CA","EOW: Tuesday, June 28, 2016",Cause of Death: Gunfire (Accidental),CA,2016
2856,K9 Roscoe,"Emmett Police Department, ID","EOW: Friday, July 1, 2016",Cause of Death: Automobile accident,ID,2016

In [26]:
#DataFrame of States from Police DF
police_states = pd.DataFrame({
    "state" : police_df["state"].unique()})

In [27]:
#Join States in Police DF with States DF

states = pd.merge(police_states, states_df, left_on="state", right_on="state_code", how="left")

In [28]:
states

   state_x               state_y state_code
0       NC        NORTH CAROLINA         NC
1       GA               GEORGIA         GA
2       CA            CALIFORNIA         CA
3       PA          PENNSYLVANIA         PA
4       IN               INDIANA         IN
5       IL              ILLINOIS         IL
6       FL               FLORIDA         FL
7       MI              MICHIGAN         MI
8       CT           CONNECTICUT         CT
9       PR           PUERTO RICO         PR
10      RI          RHODEÊISLAND         RI
11      LA             LOUISIANA         LA
12      MD              MARYLAND         MD
13      TN             TENNESSEE         TN
14      UT                  UTAH         UT
15      AZ               ARIZONA         AZ
16      OK              OKLAHOMA         OK
17      KS                KANSAS         KS
18      MN             MINNESOTA         MN
19      MS           MISSISSIPPI         MS
20      TX                 TEXAS         TX
21      NY              NEW YORK         NY
22      SC        SOUTH CAROLINA         SC
23      NJ            NEW JERSEY         NJ
24      KY              KENTUCKY         KY
25      WA            WASHINGTON         WA
26      OH                  OHIO         OH
27      WI             WISCONSIN         WI
28      AR              ARKANSAS         AR
29      US                   NaN        NaN
30      WV         WEST VIRGINIA         WV
31      MO              MISSOURI         MO
32      TR                   NaN        NaN
33      MA         MASSACHUSETTS         MA
34      CO              COLORADO         CO
35      OR                OREGON         OR
36      AL               ALABAMA         AL
37      VA              VIRGINIA         VA
38      ID                 IDAHO         ID
39      DE              DELAWARE         DE
40      NM            NEW MEXICO         NM
41      HI                HAWAII         HI
42      DC  DISTRICT OF COLUMBIA         DC
43      AK                ALASKA         AK
44      NV                NEVADA         NV
45      NE              NEBRASKA         NE
46      IA                  IOWA         IA
47      MT               MONTANA         MT
48      VT               VERMONT         VT
49      SD          SOUTH DAKOTA         SD
50      VI        VIRGIN ISLANDS         VI
51      WY               WYOMING         WY
52      NH         NEW HAMPSHIRE         NH
53      ME                 MAINE         ME
54      GU                  GUAM         GU
55      RR                   NaN        NaN
56      AS        AMERICAN SAMOA         AS
57      ND          NORTH DAKOTA         ND